* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  /* font-family: play fai; */
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
  padding: 15px;
  margin: 0 30px;
  border-bottom: 1px solid rgb(131, 127, 127, 0.5);
}

header nav li {
  display: inline-block;
  margin: 0 20px;
}

header nav li a {
  color: rgb(129, 129, 129);
  font-size: 14px;
  font-weight: lighter;
}

header nav li a:hover {
  color: rgba(0, 0, 0, 0.7);
}

main section .container0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 250px;
  /* background-color: aqua; */
  margin: 45px 0 100px 0;
  gap: 38px;
  text-align: end;
}

.title {
  max-width: 800px;
  /* background-color: bisque; */
  font-size: 50px;
}

.desc {
  font-size: 30px;
}

main section .container0 h1,
main section .container0 p {
  color: #4f4f4f;
  margin-right: 100px;
}

main section .container0 p {
  opacity: 0.7;
}

main section .container1 {
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #e6e6e61d;
}

main section .container1 .box1 {
  height: 100%;
  width: 540px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

main section .container1 .box1 .testimonial-card {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;

  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

main section .container1 .box1 .testimonial-card img {
  width: 550px;
  height: 300px;
  object-fit: cover;
}

main section .container1 .box1 .caption-overlay {
  position: absolute;
  bottom: 0px;
  right: 5%;
  width: 55%;
  color: rgba(255, 255, 255, 0.88);
  padding: 20px;
  border-radius: 8px;
  text-align: end;
}

main section .container1 .box1 .caption-overlay blockquote {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 15px;
}

main section .container1 .box1 .caption-overlay figcaption p {
  font-size: 14px;
  line-height: 1.4;
}

main section .container1 .box1 .caption-overlay figcaption .name {
  font-weight: bolder;
}

main section .container1 .box1 .mini-desc {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 40px;
  max-width: 600px;
}

main section .container1 .box1 .mini-desc::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 30%;
  transform: translateX(100%);
  width: 30%;
  height: 1px;
  background-color: #000000;
}

main section .container1 .box2 {
  background-color: #fda9a9;
  height: 100%;
  width: 390px;
}

main section .container .box2 .contact-form {
}
